<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <img style="margin-left: 50%; margin-right: 50%;" src="https://images.vexels.com/media/users/3/144356/isolated/preview/52fb168f1bd3abf7e97a8e9bfdac331d-speed-car-logo-by-vexels.png" alt="">
        <br>
        <p>Create an account or login</p>
        <br>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Register</a
        >
        <!-- <br> -->
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>
  